<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>게시판</h1>

<div class="top">
    <a href="/posts/new-form">
        <button>글쓰기</button>
    </a>
</div>

<div class="post-list">
    <div class="post" th:each="post, stat : ${posts}">
        <span class="post-number" th:text="${stat.count}">1</span>
        <span class="post-title" th:text="${post.title}">제목</span>
        <a th:href="@{'/posts/' + ${post.id}}">
            <button>상세보기</button>
        </a>
    </div>
</div>

</body>
</html>
